[Desktop Entry]
Name=RoMode
Exec=python3 /home/ender/Documents/Projects/Coding/RoModeV3/romode3
Comment=
Terminal=false
Icon=/home/ender/.local/share/applications/icons/romode.png
Type=Application
Path=/home/ender/Documents/Projects/Coding/RoModeV3
